@main("Prova Móvel - Test Ajax") {

@header()

<div class="container">

	<h1>Ajax</h1>
	<div>
	
	<button id="ajaxbtn">Ajax</button>
	</div>


</div>
<!-- /container -->

<script>
	$(function() {
		alert("vai filho");
		 
	$('#ajaxbtn').click(function(){
		var test = {"A":"B","C":"D"};
		var param = {"test":test,"B":"F"};
		alert("vai filho2");
		var values = {
			type : "POST",
			dataType : "json",
			url :"@routes.Application.ajax()",
			data : param,
			success : function(v){
				alert(JSON.stringify(v));
			},
			error : function(){
				alert("cagada");
			}
		};
				$.ajax(values);
	});
	});
</script>

}
