@(form:Form[models.User]) @main("Prova Movel - Entrar") {

@header()

<div class="container">

@if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
}else{
<p>No errors</p>
}

	@helper.form(action = routes.UserController.entrarAction){
	@helper.inputText(form("email"),'_label->"Email")
	@helper.inputPassword(form("password"),'_label->"Senha")
	
	<input type="submit" value="Entrar"/>
}
</div>
<!-- /container -->
@modal()
<script>
	$(function(){

	});
</script>

}