@(prova:models.Prova,form:Form[models.Prova]) @main("Prova Movel") {

@header()
<style>
.conteinerform {
	margin: 1pxl;
}

#hiddenThings {
	display: none;
}
</style>

<div class="container">
	<div class="conteinerform">
		@helper.form(action =
		routes.ProvaController.atualizarAction(prova.getId())){
		@helper.inputText(form("titulo"),'_label->"Titulo") <input
			type="submit" class="btn btn-success" value="Atualizar" /> }
	</div>

	@if(!prova.getQuestoes().isEmpty()){

	<table class="table table-bordered">
		<thead>

			<tr>
				<th>Título</th>
				<th>Tipo</th>
				<th>Excluir</th>
			</tr>

		</thead>
		<tbody>
			@for(questao <- prova.getQuestoes()) {

			<tr>
				<td>@questao.getTitulo()</td>
				<td>@questao.getTipo()</td>
				<td>@questao.getId()</td>
			</tr>
			}
		</tbody>
	</table>
	}
	<div class="conteinerform">
		@helper.form(action =
		routes.ProvaController.addQuestaoAction(prova.getId()),'class ->
		"form-inline"){ <label for="titulo">Título:</label> <input type="text"
			name="titulo" id="titulo" /> <label for="tipo">Tipo:</label> <select
			id="tipo" name="tipo"> @for(cType <- TipoQuestao.values()){
			<option value="@cType.name()">@cType.name()</option> }
		</select> 

		<div id="conteinerRespostaAberta">
			<label for="resposta">Resposta:</label>
			<input type="text" name="resposta" id="resposta" />
		</div>
		<div id="conteinerRespostaFechada">
		
			<div id="conteinerAlternativas">
			<h5 >Alternativas</h5>
			
			</div>
			<a id="adicionarAlternativa" href="#" class="btn btn-success">+</a>
			
		</div>
		<input type="submit" class="btn btn-success" value="Adicionar" /> 
		
		}
	</div>
	
	<div id="hiddenThings">
		<div id="altContent">
			<div>
				<input id="alt" type="text" name="alt" />
			</div>
		</div>
	</div>

</div>
<!-- /container -->
@modal()
<script>
	ProvaController = {
		mostraQuestaoporTipo : function(valor) {
			
			switch (valor) {
			case "aberta": // aberto
				$("#conteinerRespostaAberta").show();
				$("#conteinerRespostaFechada").css("display","none");
				break;
			case "fechada": // fechada
				$("#conteinerRespostaAberta").css("display","none");
				$("#conteinerRespostaFechada").show();
				break;
			}

		},
		addCampoAlternativa : function(count) {
			
			$("#conteinerAlternativas").append("("+count+")"+"<input  type='text' id='alt"+count+"' name='alt"+count+"' />");
			
		}

	};

	$(function() {

		$("#conteinerRespostaAberta").show();
		$("#conteinerRespostaFechada").css("display","none");

		$("#tipo").change(function(){
			var value = $(this).val();
			
			ProvaController.mostraQuestaoporTipo(value);
		});

		$("#adicionarAlternativa").click(function(event) {
			 event.preventDefault();
			 var count = $("#conteinerAlternativas input").length+1;
			ProvaController.addCampoAlternativa(count);
		});

	});
</script>

}
