<style>
body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="/">Prova Móvel</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
				@if(session.get("login") == null){
				<li><a href="/entrar/">Entrar</a></li>
				<li><a href="/cadastrar/">Cadastrar-se</a></li>
				}else {
				<li><a href="/prova/listar/">Minhas Provas</a></li>
				<li><a href="/sair/">Cadastrar Nova Prova</a></li>
				<li><a href="/sair/">Sair</a></li>
				}
					
			</ul>
			</div>

		</div>
	</div>
</div>