/.project
/.settings
/provamovelserverplay/logs
/provamovelserverplay/project/project
/provamovelserverplay/project/target
/provamovelserverplay/target
/provamovelserverplay/tmp
/provamovelserverplay/.history
/provamovelserverplay/dist
/provamovelserverplay/.idea
/*.iml
/provamovelserverplay/out
/provamovelserverplay/.idea_modules
/provamovelserverplay/.classpath
/provamovelserverplay/.project
/provamovelserverplay/RUNNING_PID
/provamovelserverplay/.settings
/provamovelserverplay/bin/
